body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.submitAreaForm {
    display: flex;
    justify-content: center;
}

.weather {
    color: white;
    gap: 10px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.search {
    text-align: center;

}

/* label {
    font-size: 2rem;
    text-align: center;
} */

.text {
    text-align: center;
}

.submit {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
    width: 2rem;
}

.errContainer {
    display: flex;
    justify-content: center;
    color: white;
}

#area {
    font-size: 7rem;
}

#temp {
    font-size: 4rem;
}

#conditions {
    font-size: 25px;
}

#range {
    font-size: 20px;
}

#error {
    font-size: 2rem;
}

.imageHolder {
    width: 35rem;
    height: 20rem;
    margin-bottom: 2rem;
}